services:
  api-gateway:
    build:
      context: .
      dockerfile: ./apps/api-gateway/Dockerfile
    container_name: api-gateway
    restart: always
    ports:
      - '3000:3000'
    environment:
      - PORT=3000
      - USER_SERVICE_HOST=user-service
      - USER_SERVICE_PORT=3001
      - AUTH_SERVICE_HOST=auth-service
      - AUTH_SERVICE_PORT=3002
      - MEDIA_SERVICE_HOST=media-service
      - MEDIA_SERVICE_PORT=3004
      - PAYMENT_SERVICE_HOST=payment-service
      - PAYMENT_SERVICE_PORT=3005
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - GOOGLE_CALLBACK_URL=${GOOGLE_CALLBACK_URL}
    networks:
      - microservices-net

  user-service:
    build:
      context: .
      dockerfile: ./apps/user-service/Dockerfile
    container_name: user-service
    restart: always
    environment:
      - TCP_PORT=3001
      - USER_DATABASE_URL=${USER_DATABASE_URL}
      - AUTH_SERVICE_HOST=auth-service
      - AUTH_SERVICE_PORT=3002
      - RABBITMQ_URL=${RABBITMQ_URL}
    networks:
      - microservices-net

  auth-service:
    build:
      context: .
      dockerfile: ./apps/auth-service/Dockerfile
    container_name: auth-service
    restart: always
    environment:
      - TCP_PORT=3002
      - AUTH_DATABASE_URL=${AUTH_DATABASE_URL}
      - USER_SERVICE_HOST=user-service
      - USER_SERVICE_PORT=3001
      - MAIL_SERVICE_HOST=mail-service
      - MAIL_SERVICE_PORT=3003
      - RABBITMQ_URL=${RABBITMQ_URL}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - FRONTEND_URL=${FRONTEND_URL}
      - SENDGRID_API_KEY=${SENDGRID_API_KEY}
      - SENDGRID_FROM_EMAIL=${SENDGRID_FROM_EMAIL}
      - SENDGRID_CONFIRM_ACCOUNT_TEMPLATE_ID=${SENDGRID_CONFIRM_ACCOUNT_TEMPLATE_ID}
      - SENDGRID_RESET_PASSWORD_TEMPLATE_ID=${SENDGRID_RESET_PASSWORD_TEMPLATE_ID}
    networks:
      - microservices-net

  media-service:
    build:
      context: .
      dockerfile: ./apps/media-service/Dockerfile
    container_name: media-service
    restart: always
    environment:
      - TCP_PORT=3004
      - MEDIA_DATABASE_URL=${MEDIA_DATABASE_URL}
      - RABBITMQ_URL=${RABBITMQ_URL}
      - AWS_REGION=${AWS_REGION}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_BUCKET_NAME=${AWS_BUCKET_NAME}
    networks:
      - microservices-net

  payment-service:
    build:
      context: .
      dockerfile: ./apps/payment-service/Dockerfile
    container_name: payment-service
    restart: always
    ports:
      - '3006:3000'
    environment:
      - PORT=3006
      - TCP_PORT=3005
      - PAYMENT_DATABASE_URL=${PAYMENT_DATABASE_URL}
      - RABBITMQ_URL=${RABBITMQ_URL}
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      - STRIPE_WEBHOOK_SECRET=${STRIPE_WEBHOOK_SECRET}
    networks:
      - microservices-net

  mail-service:
    build:
      context: .
      dockerfile: ./apps/mail-service/Dockerfile
    container_name: mail-service
    restart: always
    environment:
      - TCP_PORT=3003
      - RABBITMQ_URL=${RABBITMQ_URL}
      - MAIL_QUEUE_HOST=${MAIL_QUEUE_HOST}
      - MAIL_QUEUE_PORT=${MAIL_QUEUE_PORT}
      - MAIL_QUEUE_PASSWORD=${MAIL_QUEUE_PASSWORD}
      - SENDGRID_API_KEY=${SENDGRID_API_KEY}
      - SENDGRID_FROM_EMAIL=${SENDGRID_FROM_EMAIL}
    networks:
      - microservices-net

networks:
  microservices-net:
    driver: bridge
